/* 
Color Palette :
#343c46
#4F5B67
#65737E
#A7ADBB
#C1C5CE
#5B6A7D Num Buttons
#505C68 Screen
*/



body {
    
}

@font-face {
    font-family: lato-medium;
    src: url(fonts/Lato-Medium.ttf)
}
@font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf)
}
@font-face {
    font-family: lato-bold;
    src: url(fonts/Lato-Semibold.ttf)
}
main {
    border: 2px solid #fe4a49;
    max-width: min-content;
}

.screen {
    background-color: #505C68;
    padding-top: 10%;
    padding-bottom:1%;
}

#input {
    font-family: lato;
    color:#FBFFFF;
    text-align: end;
    margin-right: 1%;
}

button {
    background-color: #5B6A7D;
    font-family:lato;
    color:#FBFFFF;
    font-size: 19px;
	border: 1px solid #2d63c8;
	padding: 0.5rem 2rem;
	cursor: pointer
	
}

.buttons-container {
    display: grid;
    grid-template:
        "clear backspace power divide"
        "number-1 number-2 number-3 plus"
        "number-4 number-5 number-6 minus"
        "number-7 number-8 number-9 multiply"
        "number-0 decimal equals multiply";
    gap: 0
}
